/* static/css/home.css */
body {
    background: url('path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 10px;
}

.animated-card {
    background: linear-gradient(135deg, #3f638a, #00b4d8);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.table thead {
    background: #1a1a1a; /* Darker background color */
    color: white;
}

.table thead th:first-child {
    border-top-left-radius: 15px;
}

.table thead th:last-child {
    border-top-right-radius: 15px;
}

.table tbody tr {
    cursor: pointer;
    transition: background 0.3s ease;
}

.table tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.2);
}

.table tbody td, .table thead th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.btn-secondary {
    background: linear-gradient(135deg, #007bff, #00b4d8);
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    transition: background 0.3s ease;
}

.btn-secondary:hover {
    background: linear-gradient(135deg, #00b4d8, #007bff);
}

.form-control {
    border-radius: 25px;
    padding-left: 15px;
}

.btn-mine {
    background: linear-gradient(135deg, #0b3863, #074a5a);
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    transition: background 0.3s ease;
}

.btn-mine:hover {
    background: linear-gradient(135deg, #00b4d8, #04182c);
}