<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Table-Row</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/youtube.css' %}">
</head>
<body>
    <button class="back-to-top">Top</button>
    <div class="table">
        <div class="table-row">
            <div class="table-cell">Table Cell 1</div>
            <div class="table-cell">Table Cell 2</div>
            <div class="table-cell">Table Cell 3</div>
        </div>
    </div>
    <div class="flex-container">
        <div class="column">Column 1</div>
        <div class="column">Column 2</div>
        <div class="column">Column 3</div>
    </div>
    <div class="static">Static Position</div>
    <div class="relative">Relative Position
        <div class="absolute">..</div>
        <div class="sticky">..</div>
    </div>
    <br>
    <div class="box" style="overflow: visible; border: 1px solid black;">
        This content will overflow the box. This content will overflow the box.
    </div>
    <br>
    <div class="box1" style="overflow: hidden; border: 1px solid black;">
        This content will overflow the box. This content will overflow the box.
    </div>    
    <br>
    <div class="box2" style="overflow: scroll; border: 1px solid black;">
        This content will overflow the box. This content will overflow the box.
        This content will overflow the box. This content will overflow the box.
        This content will overflow the box. This content will overflow the box.
    </div>    
    <br>
    <div class="box3" style="overflow: auto; border: 1px solid black;">
        This content will overflow the box. This content will overflow the box.
    </div>
    <figure>
        <img src="{% static 'images/dj.jpg' %}" alt="youtube">
        <figcaption>Youtube</figcaption>
    </figure>
    <section>
        <div class="square">⏳</div>
        <div class="square">⏳</div>
        <div class="square-animated">⏳</div>
    </section>
</body>
</html>


