<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larana Travel</title>
    {% load static %}
    <style>
        .hero-section {
            background-image: url("{% static 'images/ocean_dj.jpg' %}");
        }
    </style>
    <link rel="stylesheet" href="{% static "css/youtube.css" %}">
</head>
<body>
    <main>
        <div class="hero-section">
            <header>
                <div class="logo"><a href="{% url 'home' %}">django_crm</a></div>
                <nav class="nav-bar">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Tour</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <nav class="nav-login">
                    <a href="{% url 'home' %}" class="login-btn">Login</a>
                </nav>
            </header>
            <div class="hero-text">
                <h1>Embark on Your Next Adventure with Confidence</h1>
                <p>Let us be your guide to discovering the world's wonders with ease and enjoyment.</p>
            </div>
            <div class="search-section">
                <div class="search-box">
                    <label for="location">Location</label>
                    <input type="text" id="location" placeholder="Enter your destination">
                </div>
                <div class="search-box">
                    <label for="date">Date</label>
                    <input type="date" id="date">
                </div>
                <div class="search-box">
                    <label for="max-price">Max Price</label>
                    <input type="text" id="max-price" placeholder="Set max price">
                </div>
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
